.cart {
    padding-top: 80px; /* Replace 100% with sensible space */
}

.cart-items-title,
.cart-item-item {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
    gap: 10px;
}

.cart-item-item {
    margin: 10px 0;
    color: black;
}

.cart-item-item img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.cart hr {
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cart-item-item .cross {
   cursor: pointer;
}

.card-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);

}

.card-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-total-detils {
    display : flex;
    justify-content: space-between;
    color: #555;
}

.card-total-detils hr {
    margin: 10px 0px;
}

.card-total button {
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}

.cart-promocode {
    flex: 1;

}

.cart-promocode p {
    color: #555;
}

.card-promocode-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;

}

.card-promocode-input input {
   background: transparent;
   border: none;
   outline: none;
   padding-left: 10px;
} 
.card-promocode-input button {
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
}

.cart-login-message {
  text-align: center;
  margin-top: 50px;
}

.cart-login-message h2 {
  color: #444;
}

.cart-login-message button {
  padding: 10px 20px;
  background: #ff4c24;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width:750px) {
    .cart-bottom {
        flex-direction: column-reverse;
    }
    .cart-promocode {
        justify-self: start;
    }
}