.food-display {
    margin-top: 30px;
}

.food-display h2 {
    font-size: max(2vw,24px);
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 20px;
}

.skeleton-card {
  width: 220px;
  height: 280px;
  border-radius: 12px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 400% 100%;
  animation: shimmer 1.2s infinite;
  margin: 10px;
}

@keyframes shimmer {
  0% { background-position: 100% 0; }
  100% { background-position: -100% 0; }
}
